<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library_demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DownloadManagerDemo" />
        <activity android:name=".activity.DemonstrateSoapRequest" />
        <activity android:name=".activity.DemonstrateValueUtilUsage" />
        <activity android:name=".activity.DemonstrateCustomDialogActivity" />
        <activity android:name=".activity.DemonstrateUseLibActivity" />
        <activity android:name="com.androidlibrary.baidumap.activity.ShowLocationActivity" >
        </activity>
        <activity android:name=".activity.ActivityUseFragment" />
        <activity android:name=".activity.DemonstrateUseCommontabActivity" />
        <activity android:name=".activity.DemonstrateWebViewUsage" />
        <activity android:name=".activity.ShowBreakPointTransmitionActivity" />
        <activity android:name=".activity.UseCustomDatePicker" />
        <activity android:name=".activity.ActivityWithRichTextView"/>
    </application>

</manifest>